

 <div class="container animate__animated animate__backInDown" id="welcome">
  <div class="row">
    <div class="col-12">
       {{ language.welcome }}  
    </div>
  </div>
    
 </div>
  

 
 <div class="container w-100 p-1 mt-2" id="carousel_sardinia">
   <div id="carouselSardinia" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselSardinia" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselSardinia" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselSardinia" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselSardinia" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselSardinia" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselSardinia" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>

     <div class="carousel-inner">
       <div class="carousel-item active" data-bs-interval="4000">
         <img src="../assets/img/sardegna/img_sardegna01.jpg" class="d-block w-100" alt="img_carousel">
       </div>
       <div class="carousel-item" data-bs-interval="3000">
         <img src="../assets/img/sardegna/img_sardegna02.jpg" class="d-block w-100" alt="img_carousel">
       </div>
       <div class="carousel-item" data-bs-interval="3000">
         <img src="../assets/img/sardegna/img_sardegna03.jpg" class="d-block w-100" alt="img_carousel">
       </div>
       <div class="carousel-item" data-bs-interval="3000">
         <img src="../assets/img/sardegna/img_sardegna04.jpg" class="d-block w-100" alt="img_carousel">
       </div>
       <div class="carousel-item" data-bs-interval="3000">
         <img src="../assets/img/sardegna/img_sardegna05.jpg" class="d-block w-100" alt="img_carousel">
       </div>
       <div class="carousel-item" data-bs-interval="3000">
         <img src="../assets/img/sardegna/img_sardegna06.jpg" class="d-block w-100" alt="img_carousel">
       </div>
     </div>

   </div>
 </div>



    <app-homes></app-homes>

