<div class="block_container">

    <div class="block" *ngIf="!success">   
        <h2> {{ language.resetPassword.new_password }} </h2>

        <form (ngSubmit)="sendEmail()">

            <div>
                <label for="email"> {{ language.resetPassword.email }} </label>
                <input type="email" name="email" [(ngModel)]="email">
            </div>

        <div class="alert alert-danger mt-2" role="alert" *ngIf="message_error != ''">  {{ message_error }} </div>

            <input type="submit" value="{{ language.resetPassword.send }}">

            <app-loading [loading]="loading"></app-loading>
           
        </form>
    </div>



    <div class="block" *ngIf="success && !reset_password">
        <h2> {{ language.resetPassword.code }}</h2>
        <p> {{ language.resetPassword.warning }} </p>

        <form (ngSubmit)="sendToken()">
            <div>
                <label for="token"> {{ language.resetPassword.insert_code }} </label>
                <input type="text" name="token" [(ngModel)]="token">
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="message_error != ''">  {{ message_error }} </div>

            <input type="submit" value="{{ language.resetPassword.send }}" [disabled]="session_expired">
        </form>
    </div>



    <div class="block" *ngIf="success && reset_password"> 
        <h2> {{ language.resetPassword.chose_password }} </h2>

        <form (ngSubmit)="resetPassword()">
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" [(ngModel)]="new_password.password" required>
            </div>

            <div>
                <label for="confirm">{{ language.resetPassword.confirm_password }}:</label>
                <input type="password" name="confirm" [(ngModel)]="new_password.confirm" required>
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="message_error != ''"> {{ message_error }}   </div>
            <div class="alert alert-success" role="alert" *ngIf="message_success != ''"> {{ message_success }} </div>

            
            <app-loading [loading]="loading"></app-loading>

            <input type="submit" value="{{ language.resetPassword.confirm }}" [disabled]="session_expired">
        </form>
    </div>

</div>
