<div id="visitHomes">

    <div id="visit_text" class="titles_styles">
      <div class="ms-3">{{ title }}</div>
    </div>

    <div id="visit_buttons">
      <div class="buttomCarousel me-4">

        <div class="carousel_maxSize">
          <button class="carousel-control-prev buttonLeft" type="button" data-bs-target="#carousel_maxSize" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
        </div>

        <div class=" carousel_maxSize">
          <button class="carousel-control-next buttonRight"  type="button" data-bs-target="#carousel_maxSize"  data-bs-slide="next">
            <span class="carousel-control-next-icon btn" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="carousel_responsive">
          <button class="carousel-control-prev buttonLeft" type="button" data-bs-target="#carousel_responsive" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
        </div>

        <div class="carousel_responsive">
            <button class="carousel-control-next buttonRight" type="button" data-bs-target="#carousel_responsive" data-bs-slide="next">
            <span  class="carousel-control-next-icon btn" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


        <div class="carousel_minSize">
          <button class="carousel-control-prev buttonLeft" type="button" data-bs-target="#carousel_minSize" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
        </div>

        <div class="carousel_minSize">
            <button class="carousel-control-next buttonRight" type="button" data-bs-target="#carousel_minSize" data-bs-slide="next">
            <span  class="carousel-control-next-icon btn" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>






      </div>
    </div>

</div>



<div class="container carousel_maxSize">                                        <!--    carousel grandezza schermo PC grande   -->
  <div id="carousel_maxSize" class="carousel slide">
    <div class="carousel-inner"  #carousel_homes_maxSize>     
        <!-- fatto con JS  -->
    </div>
    <!-- botttoni in alto   -->
  </div>
</div>



<div class="container carousel_responsive">                            <!--    carousel grandezza schermo PC e Tablet (responsive)   -->
  <div id="carousel_responsive" class="carousel slide">   
    <div class="carousel-inner"  #carousel_homes>     
        <!-- fatto con JS  -->
    </div>
    <!-- botttoni in alto   -->
  </div>
</div>



<div class="container carousel_minSize">                        <!--    carousel grandezza schermo cellulare   -->
  <div id="carousel_minSize" class="carousel slide">  
    <div class="carousel-inner"  #carousel_homes_minSize>     
        <!-- fatto con JS  -->
    </div>
    <!-- botttoni in alto   -->
  </div>
</div>




