<div class="container reserve_complete">

    <h4 class="title_element text-center fs-3"> {{ language.reserves.complete }}! </h4>

    <h5 class="text-center"> {{ language.reserves.your_reserve1 }} {{ home_name }} {{ language.reserves.your_reserve2 }}! </h5>

    <p  class="fs-5 text-center"> {{ language.reserves.alert }} </p>

    <p class="fs-5 text-center"> {{ language.reserves.or }} </p>

    <p class="fs-5 text-center"> {{ language.reserves.view_section }} <i>{{ language.reserves.reserves }}</i> {{ language.reserves.acount }} </p>
   

</div>
