<div class="block_container">
    <div class="block">
      <h2>{{ language.acount.button }} password</h2>
  
      <form #editForm="ngForm" (ngSubmit)="edit(editForm)">
  
        <div style="width: 85%; margin: 0 auto;">
          <input type="password" class="w-100" name="old_password" #old_password="ngModel" [(ngModel)]="password.old_password" placeholder="{{ language.acount.old_password }}" required/>
        </div>
  
        <span style="width: 85%;" *ngIf="old_password.touched && !old_password.valid"> {{ message_form }} </span>

        <div style="width: 85%; margin: 0 auto;">
            <input type="password" class="w-100" name="new_password" #new_password="ngModel" [(ngModel)]="password.new_password" placeholder="{{ language.acount.new_password }}" required/>
          </div>
    
          <span style="width: 85%;" *ngIf="new_password.touched && !new_password.valid"> {{ message_form }} </span>
  
        <div style="width: 85%; margin: 0 auto;">
          <input type="password" class="w-100" name="confirm" #confirm="ngModel" [(ngModel)]="password.confirm_password" placeholder="{{ language.acount.confirm_password }}" required/>
        </div>
  
        <span style="width: 85%;" *ngIf="confirm.touched && !confirm.valid"> {{ message_form }} </span>

        <div class="alert alert-danger" role="alert" *ngIf="message_wrong_password != ''"> {{ message_wrong_password }}  </div>
        <div class="alert alert-success" role="alert"  *ngIf="message_success != ''">  {{ message_success }}  </div>

        <app-loading [loading]="loading"></app-loading>
  
        <input type="submit" value="{{ language.acount.button }}" [disabled]="!editForm.form.valid"/>
      </form>
    </div>
  
