<div  class="formDetails">

    <div class="category_details">
      <h4> {{ language.homes.details.bath }} </h4>
      <div class="details">
        <div>
          <label for="hairdryer">{{ language.homes.details.hairdryer }}:</label>
          <input  type="checkbox"  name="hairdryer" [(ngModel)]="home.details.hairdryer"/>
        </div>
        <div>
          <label for="hot_water">{{ language.homes.details.hot_water }}:</label>
          <input type="checkbox" name="hot_water" [(ngModel)]="home.details.hot_water"/>
        </div>
        <div>
          <label for="toilet_paper">{{ language.homes.details.toilet_paper }}:</label>
          <input type="checkbox" name="toilet_paper" [(ngModel)]="home.details.toilet_paper"/>
        </div> 

      </div>
    </div>

    <div class="category_details">
      <h4>{{ language.homes.details.laundry }}</h4>
      <div class="details">
        <div>
          <label for="washing_machine">{{ language.homes.details.washing_machine }}:</label>
          <input type="checkbox" name="washing_machine" [(ngModel)]="home.details.washing_machine" />
        </div>
        <div>
          <label for="dryer">{{ language.homes.details.dryer }}:</label>
          <input type="checkbox" name="dryer" [(ngModel)]="home.details.dryer" />
        </div>
        <div>
          <label for="iron">{{ language.homes.details.iron }}:</label>
          <input type="checkbox" name="iron" [(ngModel)]="home.details.iron" />
        </div>
      </div>
    </div>

    <div class="category_details">
      <h4>{{ language.homes.details.children }}:</h4>
      <div class="details">
        <div>
          <label for="crib">{{ language.homes.details.crib }}:</label>
          <input type="checkbox" name="crib" [(ngModel)]="home.details.crib" />
        </div>
        <div>
          <label for="chair_baby">{{ language.homes.details.chair_baby }}:</label>
          <input  type="checkbox"  name="chair_baby" [(ngModel)]="home.details.chair_baby" />
        </div>
        <div>
          <label for="box_baby">{{ language.homes.details.box_baby }}:</label>
          <input  type="checkbox" name="box_baby" [(ngModel)]="home.details.box_baby" />
        </div>
      </div>
    </div>

    <div class="category_details">
      <h4>{{ language.homes.details.heating }}:</h4>
      <div class="details">
        <div>
          <label for="fireplace">{{ language.homes.details.fireplace }}:</label>
          <input type="checkbox" name="fireplace"  [(ngModel)]="home.details.fireplace" />
        </div>
        <div>
          <label for="air_conditioning">{{ language.homes.details.air_conditioning }}:</label>
          <input type="checkbox"  name="air_conditioning"  [(ngModel)]="home.details.air_conditioning"/>
        </div>
        <div>
          <label for="electric_fan">{{ language.homes.details.eletric_fan }}:</label>
          <input  type="checkbox"  name="electric_fan" [(ngModel)]="home.details.electric_fan"/>
        </div>
      </div>
    </div>

    <div class="category_details">
      <h4>{{ language.homes.details.kitchen }}:</h4>
      <div class="details">
        <div>
          <label for="refrigerator">{{ language.homes.details.refrigerator }}:</label>
          <input  type="checkbox"  name="refrigerator" [(ngModel)]="home.details.refrigerator" />
        </div>
        <div>
          <label for="microware">{{ language.homes.details.microware }}:</label>
          <input type="checkbox" name="microware" [(ngModel)]="home.details.microware" />
        </div>
        <div>
          <label for="plate">{{ language.homes.details.plate }}:</label>
          <input type="checkbox" name="plate" [(ngModel)]="home.details.plate" />
        </div>
        <div>
          <label for="pot">{{ language.homes.details.pot }}:</label>
          <input type="checkbox" name="pot" [(ngModel)]="home.details.pot" />
        </div>
        <div>
          <label for="coffee_machine">{{ language.homes.details.coffee_machine }}:</label>
          <input  type="checkbox" name="coffee_machine" [(ngModel)]="home.details.coffee_machine" />
        </div>
      </div>
    </div>

    <div class="category_details">
      <h4>{{ language.homes.details.outdoors }}:</h4>
      <div class="details">
        <div>
          <label for="balcony">{{ language.homes.details.balcony }}:</label>
          <input type="checkbox" name="balcony" [(ngModel)]="home.details.balcony" />
        </div>
        <div>
          <label for="courtyard">{{ language.homes.details.courtyard }}:</label>
          <input  type="checkbox"  name="courtyard" [(ngModel)]="home.details.courtyard" />
        </div>
        <div>
          <label for="outdoor_food">{{ language.homes.details.outdoor }}:</label>
          <input  type="checkbox" name="outdoor_food" [(ngModel)]="home.details.outdoor_food" />
        </div>
        <div>
          <label for="barbecue">{{ language.homes.details.barbeque }}:</label>
          <input  type="checkbox"  name="barbecue"  [(ngModel)]="home.details.barbecue"/>
        </div>
        <div>
          <label for="outdoor_forniture">{{ language.homes.details.outdoor_forniture }}:</label>
          <input  type="checkbox" name="outdoor_forniture"   [(ngModel)]="home.details.outdoor_forniture"/>
        </div>
        <div>
          <label for="parking">{{ language.homes.details.parking }}:</label>
          <input type="checkbox" name="parking" [(ngModel)]="home.details.parking" />
        </div>
      </div>
    </div>

    <div class="category_details">
      <h4>{{ language.homes.details.entertainment }}:</h4>
      <div class="details">
        <div>
          <label for="tv">{{ language.homes.details.tv }}:</label>
          <input type="checkbox" name="tv" [(ngModel)]="home.details.tv" />
        </div>
        <div>
          <label for="wifi">{{ language.homes.details.wifi }}:</label>
          <input type="checkbox" name="wifi" [(ngModel)]="home.details.wifi" />
        </div>
      </div>
    </div>

    <div class="category_details">
      <h4>{{ language.homes.details.safety }}:</h4>
      <div class="details">
        <div>
          <label for="fire_prevention">{{ language.homes.details.fire_prevention }}:</label>
          <input  type="checkbox"  name="fire_prevention"  [(ngModel)]="home.details.fire_prevention" />
        </div>
        <div>
          <label for="monoxide">{{ language.homes.details.monoxide }}:</label>
          <input  type="checkbox"  name="monoxide" [(ngModel)]="home.details.monoxide">
        </div>
      </div>
    </div>

    <div class="category_details">
      <h4>{{ language.homes.details.extra }}:</h4>
      <div class="details">
        <div>
          <label for="animal">{{ language.homes.details.animal }}:</label>
          <input type="checkbox" name="animal" [(ngModel)]="home.details.animal" />
        </div>
        <div>
          <label for="smoke">{{ language.homes.details.smoke }}:</label>
          <input type="checkbox" name="smoke" [(ngModel)]="home.details.smoke" />
        </div>
        <div>
          <label for="reception">{{ language.homes.details.reception }}:</label>
          <input  type="checkbox"  name="reception"  [(ngModel)]="home.details.reception" />
        </div>
      </div>
    </div>



  </div>    


  <app-loading [loading]="loading"></app-loading>
  

  <div class="w-100 text-center mt-3">
    <input type="submit" value="{{ button }}" (click)="sendData()">
  </div>
   
