

$background_errorAllert :  rgb(201, 78, 78);
$backgroud_successAllert : rgb(40, 145, 40);

$color_lightBlue:  rgb(148, 178, 218);  
$color_light : rgb(242, 234, 234);
$color_lightSecondary : rgba(173, 199, 234, 0.972);
$color_success : rgb(30, 175, 30);
$color_shadow : rgb(59, 57, 57);











