
 <div id="visitHomes" class="container mt-2"> 
  <div class="row">

    <div class="col-5"  id="titles_styles">
      <p> {{ language.homes.title }} </p>
    </div>

<div class="col-7 buttoms">

  <div class="buttomCarousel">

    <div class="col-1 bottomCarousel carousel_normal">  
      <button class="carousel-control-prev buttonLeft" type="button" data-bs-target="#carouselHomes" data-bs-slide="prev">
        <span class="carousel-control-prev-icon btn btn-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
    </div>
  
  
  <div class="col-1 bottomCarousel carousel_normal">
    <button class="carousel-control-next buttonRight" type="button" data-bs-target="#carouselHomes" data-bs-slide="next">   
      <span class="carousel-control-next-icon btn btn-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>  
  
  <div class="col-1 bottomCarousel carousel_responsive">  
    <button class="carousel-control-prev buttonLeft" type="button" data-bs-target="#carouselHomesResponsive" data-bs-slide="prev">
      <span class="carousel-control-prev-icon btn btn-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
  </div>
  
  
  <div class="col-1 bottomCarousel carousel_responsive">
  <button class="carousel-control-next buttonRight" type="button" data-bs-target="#carouselHomesResponsive" data-bs-slide="next">
    <span class="carousel-control-next-icon btn btn-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>  


      </div>
     </div>
   </div> 
</div>



<div class="container carousel_normal">

  <div id="carouselHomes" class="carousel slide">
    <div class="carousel-inner" #carousel_homes>
     <!--  fatto con JS  -->
    </div> 
  <!--  bottoni in alto   -->
  </div>

</div>





<div class="container p-1 carousel_responsive">
  <div id="carouselHomesResponsive" class="carousel slide">
    <div class="carousel-inner" #carousel_homes_responsive>
     <!-- fatto con JS  -->
    </div>
    <!-- botttoni in alto   -->
  </div>
</div>









